.benefit-banner{
    height: 900px;
    padding: 100px;
    text-align: center;
    background-color: rgba(180, 219, 238, 0.826);
}
.coupon{
    width: 300px;
    height: 400px;
    margin: 70px auto;

    background-color: aqua;
}